<main class="main h-auto w-full flex transition-transform duration-300">
  <div>
    <history
      [historyList]="historyList"
      (selectHistory)="onHistorySelected($event)"
      (deleteHistory)="onHistoryDeleted($event)"
    ></history>
  </div>
  <div class="flex-1">
    <searchbar (videoAdded)="onVideoAdded($event)"></searchbar>
    <video-view [videoUrl]="videoUrl"></video-view>
    <bookmarks
      [currentVideo]="{ url: videoUrl, name: videoUrl }"
      (playVideo)="onBookmarkSelect($event)"
    ></bookmarks>
  </div>
</main>

<router-outlet></router-outlet>
