<div class="p-4 bg-gray-100 rounded shadow">
  <div class="flex justify-between items-center mb-4 text-center">
    <h3 class="text-lg font-semibold text-center">Bookmarks</h3>
    <span class="text-sm text-gray-700">Total: {{ bookmarkList.length }}</span>
  </div>
  <div class="flex justify-between mb-4">
    <button
      (click)="addBookmark()"
      class="w-1/2 py-2 px-2 text-sm bg-blue-500 text-white rounded hover:bg-blue-600 transition"
      [disabled]="!currentVideo"
    >
      Add Bookmark
    </button>

    <button
      (click)="toggleBookmarkList()"
      class="w-1/2 py-2 px-2 text-sm bg-gray-800 text-white rounded hover:bg-gray-900 transition"
    >
      {{ showBookmarks ? "Close Bookmarks" : "Open Bookmarks" }}
    </button>
  </div>
  @if(showBookmarks){
  <ul class="mt-4 space-y-2 overflow-auto max-h-60 bg-white p-2 rounded">
    <li
      *ngFor="let bookmark of bookmarkList; let i = index"
      class="p-2 bg-gray-50 rounded shadow flex justify-between items-center"
    >
      <div>
        <p class="text-sm font-medium text-gray-800">{{ bookmark.name }}</p>
        <a
          [href]="bookmark.url"
          target="_blank"
          class="text-xs text-blue-500 underline hover:text-blue-700"
          [title]="bookmark.url"
        >
          {{ truncateUrl(bookmark.url, 50) }}
        </a>
      </div>
      <div class="flex space-x-2">
        <button
          (click)="onSelectBookmark(bookmark.url)"
          class="px-2 py-1 text-sm text-white bg-green-500 rounded hover:bg-green-600 transition"
        >
          Play
        </button>
        <button
          (click)="onDeleteBookmark(i)"
          class="px-2 py-1 text-sm text-white bg-red-500 rounded hover:bg-red-600 transition"
        >
          Delete
        </button>
      </div>
    </li>
  </ul>
  }
</div>
